{% extends 'layout.html' %}

{% load static %}

{% block main %}
  <img src="{% static 'images/aboutimage.jpg' %}" alt="aboutimage" class="aboutimage" />
  <br /><br />
  <div class="aboutme">
    <p class="bio">Bio:</p>
    <br /><br /> 
   <div biodiv>
     <p class="biop">Bvc Square is a singer, songwriter, and performer based in Abuja, Nigeria an artist whose music balances confidence, emotion, and style. 
      Growing up in a home filled with sound from church harmonies to his father’s guitar music has always been part of his story. From an early age, 
      Bvc was drawn not just to rhythm but to words. Lyrics were his way of understanding the world, and that lyrical instinct became the heartbeat of his sound. 
      His music blends emotion and experimentation, pulling from different genres but always landing in a place that feels deeply his own. With projects like After Saint Laurent 
      and I’m A God, Bvc Square has carved a space that speaks to love, heartbreak, and the women who inspire both. His songs carry an energy that makes listeners feel seen especially women, 
      who he describes as the center of much of his inspiration. Known for his effortless presence and distinct style, Bvc has performed in front of thousands, each time commanding the stage 
      with a mix of calm and charisma. He’s not just making music; he’s building an experience one that feels bold, romantic, and real. Some call him a lover boy, others say he’s too cool to care. 
      Maybe he’s both. Either way, Bvc Square stands at the intersection of emotion and confidence  an artist defining his own rhythm, one song at a time.</p>
   </div>
    
  </div>
{% endblock %}
